<ul class="collection with-header">
    <li class="collection-header">
        <h4>Dashboard</h4>
    </li>
    <li class="collection-item">Welcome: {{name}}</li>
    <li class="collection-item active">Here are your stories</li>
</ul>
{{#if stories}}
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><a href="/stories/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td><span class="badge">{{status}}</span></td>
            <td>
                <a href="/stories/edit/{{_id}}" class="btn btn-float"> <i class="fas fa-edit"></i></a>

                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red"><i class="fas fa-trash"></i>
                    </button>
                </form>

            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not created any stories</p>
{{/if}}